{% extends 'test.html.twig' %}

{% block title %}LigneCommande index{% endblock %}

{% block part %}
<section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
  </section>

  {% endblock %}