



{% block body %}


    <table class="table" >
        <tbody>
        <form method="post" action="{{ path('filtre') }}">


        {% for categorie in categories %}
        <div class="bp-text">

            <input type="checkbox" name="cat[]" value="{{ categorie.IdCategorie }}" >
            <label style="color: #e66a02">{{ categorie.nomCategorie }}</label>


        </div>

        {% endfor %}
            <button type="submit" class="btn btn-primary" >filter</button>
        </form>
{#        <a href="{{ path('filtre') }}" class="btn btn-primary">filtrer</a>#}
        </tbody>

    </table>


{% endblock %}
