<form method="post" action="{{ path('commande_delete', {'id': commande.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
    <div class="container my-3 bg-light">
    <div class="col-sm-4 col-md-2 text-center">
    <button type="button" class="btn btn-block btn-warning">Delete</button>
    </div>
    </div>

</form>
