{% extends 'test.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande index</h1>

   
                                <div class="hardware-guides">
                                
                                    <h5>Hardware guides</h5>
                                {% for produit in produits %}
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{{ asset('img/trending/trending-5.jpg') }}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="#">A Monster Prom poster got hijacked for a Papa Roach concert...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                            <a href="{{ path('add' ,{id :produit.getId()})}}" class="nav-link" type="button">aa
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                            <a href="{{path("panier")}}" type="button">bbb
{% endblock %}
