

{% block body %}
    <table class="table" >
    <tbody>

<form method="post" action="{{ path('filtre_article') }}">

    <h6 style="color: #fffffc">filtrer par categorie de l'article :</h6>
    {% for cat in categories %}
        <div class="bp-text">

            <input type="checkbox" name="cat[]" value="{{ cat.id }}" >
            <label style="color: #e66a02">{{ cat.nom }}</label>


        </div>

    {% endfor %}

    <button type="submit" class="btn btn-primary" >filter</button>
</form>
    </tbody>

    </table>
{% endblock %}