<h1>Hi!{{ user.username}} Confirmer la désactivation </h1>

<p>
    Veuillez confirmer votre désactivation  en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Désactiver</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
